
<!DOCTYPE html>
<html lang="zh-CN">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mg工具网开源库</title>
  <link rel="stylesheet" href="https://cdn.staticfile.net/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-image: url('1.jpg');
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-height: 100vh;
      margin: 0;
      backdrop-filter: blur(5px);
  position: relative; /* 添加这一行 */
  padding-bottom: 60px; /* 根据页脚高度调整 */
    }
    .card-link {
      display: block;
      text-decoration: none;
      color: inherit;
    }
    .card-link:hover {
      text-decoration: none;
    }
    #footer {
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 10px;
      text-align: center;
      width: 100%;
  position: absolute; /* 添加这一行 */
  bottom: 0; /* 添加这一行 */
    }
  </style>
</head>


  <div id="app" class="container">
    <h1 class="text-center mb-4" style="color: white">mg工具网开源库</h1>

   

    <h2 style="color: white">小游戏：</h2>
    <div class="row">
      <div class="col-md-4 mb-4" v-for="game in filteredGames">
        <a :href="game.url" target="_blank" class="card-link">
          <div class="card">
            <div class="card-body">
              <strong><h5 class="card-title">{{ game.title }}</h5></strong>
              <p class="card-text"><small class="text-muted">分类: {{ allCategories[game.category] }}</small></p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <h2 style="color: white">工具:</h2>
    <div class="row">
      <div class="col-md-4 mb-4" v-for="tool in filteredTools">
        <a :href="tool.url" target="_blank" class="card-link">
          <div class="card">
            <div class="card-body">
              <strong><h5 class="card-title">{{ tool.title }}</h5></strong>
              <strong><p class="card-text">{{ tool.description }}</p></strong>
              <p class="card-text"><small class="text-muted">分类: {{ allCategories[tool.category] }}</small></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>



<body>
  <script src="https://cdn.staticfile.net/vue/2.7.9/vue.js"></script>
  <script>
    function loadHeaderContent() {
var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          var response = this.responseText;
          var headerContent = response.split('<!--FOOTER_START-->')[0];
          var footerContent = response.split('<!--FOOTER_START-->')[1];

          document.getElementById("header-container").innerHTML = headerContent;
          document.getElementById("footer-container").innerHTML = footerContent;
        }
      };
      xhr.open("GET", "header.php", true);
      xhr.send();
    }

    new Vue({
      el: '#app',
      data: {
        searchQuery: '',
        currentCategory: '',
        games: [
          { title: '点击mg慢速版', url: 'djmg/djmg(d).html', category: '1' },
          { title: '点击mg快速版', url: 'djmg/djmg(s).html', category: '1' },
          { title: '永远点不到的按钮', url: 'buttoncant', category: '1' },
          { title: '扫雷', url: 'sl', category: '1' },
          { title: '剪刀石头布', url: 'jdstb', category: '1' },
          { title: '坤坤打砖块', url: 'cxk-ball', category: '1' },
          { title: '数学计算小游戏', url: 'sxcs', category: '1' },
        ],
        tools: [
          { title: '随机数生成器', url: 'Rambommber', description: '生成随机数字', category: '3' },
          { title: '计算器', url: 'jsj', description: '进行数学计算', category: '6' },
          { title: '文本加密', url: 'jiami', description: '加密解密文本', category: '6' },
          { title: '英语与数字语转换', url: 'ns', description: '英语和数字语言之间的相互转换', category: '6' },
          { title: '日期和BMI等计算', url: 'rqjs', description: '计算日期、BMI等', category: '6' },
          { title: '记事本', url: 'jsb', description: '简易记事本', category: '5' },
          { title: '计时器，倒计时和闹钟', url: 'time', description: '计时器，倒计时和闹钟', category: '9' },
          { title: 'HTML可视化编辑', url: 'dmbj/html.html', description: '可视化编辑HTML', category: '3' },
          { title: 'MC命名空间查询', url: 'ID/MCID.html', description: '查询MC命名空间', category: '10' },
          { title: '单位换算', url: 'dwhs', description: '在线单位换算', category: '6' },
          { title: '画图', url: 'ht', description: '简易在线画图', category: '7' },
          { title: '圆周率查询', url: 'pi', description: '查询圆周率100万内有没有指定数字', category: '10' },
          { title: '系统信息查询', url: 'xtxx', description: '系统信息查询（仅PC可用）', category: '5' },
          { title: '摩斯电码转换', url: 'mos', description: '摩斯电码转换', category: '6' },
          { title: 'uuid生成和各进制转换', url: 'uuid', description: '生成uuid和各进制转换', category: '6' },
          { title: 'mc问答', url: 'wd/mcwd.html', description: '测试你是否玩懂mc（来源：mcwiki）', category: '10' },
          { title: '重复内容查询', url: 'cf', description: '查询两段文本的重复内容', category: '10' },
          { title: '国家首都查询', url: 'sdcx', description: '查询国家首都', category: '4' },
          { title: '我国历史朝代', url: 'cd', description: '我国历史朝代', category: '2' },
          { title: 'mcUUID，皮肤，披风查询', url: 'mccx', description: '查询minecraft玩家的UUID，披风，和皮肤', category: '10' },
          { title: '三角形面积计算', url: 'tx/sjxmj.html', description: '计算三角形面积（海伦公式）', category: '7' },
          { title: '圆形扇形周长面积计算', url: 'tx/yxsx.html', description: '计算圆形和扇形面积周长', category: '7' },
          { title: '平行四边形面积计算', url: 'tx/pxsbx.html', description: '计算平行四边形面积', category: '7' },
          { title: 'python代码在线编辑，运行', url: 'dmbj/py.html', description: 'python代码在线编辑，运行', category: '3' },
          { title: '贷款利息计算', url: 'dklx', description: '贷款利息计算', category: '12' },
          { title: '24点计算和生成', url: '24p', description: '24点计算', category: '99' },
          { title: '性取向测试', url: 'xqxcs', description: '性取向测试', category: '13' },
          { title: '个人压力测试', url: 'ylcs', description: '个人压力测试', category: '13' },
          { title: 'Markdown编辑器', url: 'mark', description: '可视化Markdown编辑器', category: '3' },
          { title: '网站地图生成', url: 'site', description: '网站sitemap生成', category: '11' },
         ],
        categoryMap: {
          '': '全部',
          '100': '敬请期待',
         '1': '游戏类',
          '2': '历史类',
          '3': '编程类',
          '4': '地理类',
          '5': '信息类',
          '6': '转换类',
          '7': '几何类',
          '8': 'AI类',
          '9': '时间类',
          '10': '查询类',
          '11': '生成类',
          '12': '生活类',
          '13': '测试类',
          '99': '其他',
        }
      },
      computed: {
        allCategories() {
          return this.categoryMap;
        },
        filteredGames() {
          return this.filterItems(this.games);
        },
        filteredTools() {
          return this.filterItems(this.tools);
        }
      },
      methods: {
        filterItems(items) {
          const query = this.searchQuery.trim().toLowerCase();
          const category = this.currentCategory.trim();
          return items.filter(item => {
            return item.title.toLowerCase().includes(query) && (category === '' || item.category === category);
          });
        }
      }
    });
  </script>
</body>
</html>